@import '../../common/colors.scss';

.footer{
    background-color: $secondary-color;
    height: 72p;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-primary;
    flex-direction: column;
    padding: 30px 0;
}